---
import Layout from '../layouts/Layout.astro';
import { Image } from "astro:assets";
import NokiaImage from '../assets/Nokia.png';
import NokiaLowImage from '../assets/NokiaLow.png';
import BusinessLogic from "../components/BusinessLogic";

const code = Astro.url.searchParams.get('code') || '';
const replay = Astro.url.searchParams.get('replay') || '';
---

<Layout>
	<main>
		<div class="background"/>
		<div class="container">
			<div class="mobile-phone">
				<Image src={NokiaImage} alt="nokia" />
				<Image class="lq" src={NokiaLowImage} alt="nokia-lq" />
				<div class="screen">
					<div class="info-line">
						<div id="score">
							0000
						</div>
						<div class="countdown hidden">
							<span id="countdown">20</span>
							<div id="superfood-area">
								<canvas id="superfood-canvas" />
							</div>
						</div>
					</div>
					<div style="border: 4px solid #000;">
						<div id="game-area">
							<canvas id="game-canvas"></canvas>
							<div class="game-start-screen">
									<div id="change-difficulty"><span id="game-difficulty">Normal</span></div>
									<div id="start-game">Play</div>
									<div id="leaderboard-button">Leaderboard</div>
							</div>
							<div class="game-loading-screen hidden">
								<div>Loading...</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<BusinessLogic client:only="react" code={code} replaySlug={replay} />
		</div>
	</main>
</Layout>

<style is:global>
	html {
		background: #f0f0f0;
	}
</style>

<style>
	.background {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		width: 100vw;
		height: 100vh;
		z-index: -1;
		background: url("../assets/background.jpeg");
		background-repeat: no-repeat;
		background-position: top;
		background-size: cover;
		display: block;
	}

	.background::before {
		display: block;
		width: 100vw;
		height: 100vh;
		inset: 0;
		content: "";
		backdrop-filter: blur(8px);
		background: rgba(34, 40, 49, 0.4);
		-webkit-backdrop-filter: blur(8px);
	 }

	.container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100vw;
		height: 100vh;
		overflow: hidden;
	}

	.mobile-phone {
		height: 1823px;
		width: 500px;
		position: relative;
	}

	.mobile-phone img {
		position: fixed;
		z-index: 3;
		top: -300px;
		height: 1823px;
		width: 500px;
		object-fit: contain;
		pointer-events: none;
	}

	.mobile-phone .lq {
		z-index: 2;
	}

	.screen {
		position: fixed;
		z-index: 1;
		top: 339px;
		margin-left: 79px;
		width: 345px;
		height: 247px;
		background: #73a582;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.info-line {
		display: flex;
		justify-content: space-between;
		border-bottom: 4px solid #000;
		width: 312px;
		margin-bottom: 6px;
		font-size: 20px;
	}

	#game-area {
		position: relative;
		width: 304px;
		height: 160px;
	}

	#superfood-area {
		width: 32px;
		height: 16px;
	}

	.game-start-screen {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		align-items: center;
		justify-content: center;
		display: flex;
		flex-direction: column;
		gap: 12px;
		font-size: 24px;
		background: #73a582;
	}

	.game-loading-screen {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		align-items: center;
		justify-content: center;
		display: flex;
		flex-direction: column;
		gap: 12px;
		font-size: 24px;
		background: #73a582;
	}

	.hidden {
		opacity: 0;
		pointer-events: none;
		cursor: default;
	}

	.game-start-screen div{
		cursor: pointer;
	}

	.countdown {
		display: flex;
		gap: 8px;
	}
</style>
